* text=auto !eol
/LICENSE.md -text
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/MANIFEST.MF -text svneol=unset#text/plain
main/include/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/include/GPL.txt -text svneol=unset#text/plain
main/include/NOTICE.txt -text svneol=unset#text/plain
main/include/RunWith6GB.bat -text
main/include/lib/bioinfweb-commons-java-bio-3.0.0.jar -text
main/include/lib/bioinfweb-commons-java-core-3.2.0.jar -text
main/include/lib/bioinfweb-commons-java-swing-3.1.0.jar -text
main/include/lib/commons-collections4-4.1.jar -text
main/include/lib/commons-lang3-3.1.jar -text
main/include/lib/forester.jar -text
main/include/lib/guava-13.0.1.jar -text
main/include/lib/info.webinsel.wikihelp.client.jar -text
main/include/lib/jphyloio-core-0.5.2.jar -text
main/include/lib/libralign-core-0.9.0.jar -text
main/include/lib/libralign-io-0.6.0.jar -text
main/include/lib/libralign-swing-0.5.0.jar -text
main/include/lib/org.jdesktop.swingx.scrollpaneselector.jar -text
main/include/lib/owlapi-XMLUtils-4.1.4.jar -text
main/include/lib/tic-core-3.0.1.jar -text
main/include/lib/tic-swing-3.0.2.jar -text
main/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/src/GPL.txt -text svneol=unset#text/plain
main/src/NOTICE.txt -text svneol=unset#text/plain
main/src/cmd/LICENSE.txt -text svneol=unset#text/plain
main/src/cmd/muscle3.8.31_i86darwin32 -text
main/src/cmd/muscle3.8.31_i86darwin64 -text
main/src/cmd/muscle3.8.31_i86linux32 -text
main/src/cmd/muscle3.8.31_i86linux64 -text
main/src/cmd/muscle3.8.31_i86win32.exe -text
main/src/info/bioinfweb/alignmentcomparator/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/ComparedAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/Document.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/OriginalAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/SuperalignedModelDecorator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/SuperalingedModelIndexTranslator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/TranslatableAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/UnlignedIndicesChangeListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comment/Comment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comment/CommentAnchor.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comment/CommentList.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comment/SequencePositionAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/event/DocumentEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/event/DocumentListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/ComparedAlignmentDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/ComparisonDocumentDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/ComparisonDocumentReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/IOConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/ImportedAlignmentModelFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/AverageDegapedPositionAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/CompareAlgorithm.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/ExternalProgramAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/MaxSequencePairMatchAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/SuperAlignmentAlgorithm.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/profile/IndexNamePrefixDecorator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/profile/MuscleProfileAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/AddCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/AddRemoveCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/CommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/DocumentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/EditCommentTextEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/InsertGapEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/InsertRemoveGapEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/MoveCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/RemoveCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/RemoveGapEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonComponent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonPanelListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonSelection.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AveragePositionArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/MainFrame.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/PosHighlightOverlay.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/VerticalScrollingSynchronizer.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/ActionManagement.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/DocumentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/AddCommentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/EditCommentTextAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/InsertSupergapAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/MoveCommentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RedoAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RedoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RemoveCommentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RemoveSupergapAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/SupergapAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/ToggleSynchronizeSelectionAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/UndoAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/UndoRedoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/UndoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/CompareAlignmentsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/ExitAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/OpenResultsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/SaveAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/SaveAsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/help/ACMainPageAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/help/AboutAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/help/ResearchGateAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/CommentArea.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/CommentPositioner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/CommentPositionerFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/SingleLineCommentPositionData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/SingleLineCommentPositioner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/SingleLineGlobalCommentPositionerData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comment/SingleLinePositionAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/AboutDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/ConsoleOutputDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/StartComparisonDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/AlgorithmPreferencesPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/AlgorithmPreferencesPanelFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/AverageDegapedPositionPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/MaxSequencePairMatchPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/MuscleProfilePanel.java -text svneol=unset#text/plain
main/src/resources/about/Style.css -text svneol=unset#text/plain
main/src/resources/symbols/AlignmentComparator128.png -text
main/src/resources/symbols/AlignmentComparator16.png -text
main/src/resources/symbols/AlignmentComparator20.png -text
main/src/resources/symbols/AlignmentComparator22.png -text
main/src/resources/symbols/AlignmentComparator24.png -text
main/src/resources/symbols/AlignmentComparator256.png -text
main/src/resources/symbols/AlignmentComparator32.png -text
main/src/resources/symbols/AlignmentComparator48.png -text
main/src/resources/symbols/AlignmentComparator64.png -text
main/src/resources/symbols/Delete16.png -text
main/src/resources/symbols/Delete22.png -text
main/src/resources/symbols/NewComment16.png -text
main/src/resources/symbols/NewComment22.png -text
main/src/resources/symbols/Open16.png -text
main/src/resources/symbols/Open22.png -text
main/src/resources/symbols/Redo16.png -text
main/src/resources/symbols/Redo22.png -text
main/src/resources/symbols/Save16.png -text
main/src/resources/symbols/Save22.png -text
main/src/resources/symbols/SaveAs16.png -text
main/src/resources/symbols/SaveAs22.png -text
main/src/resources/symbols/Undo16.png -text
main/src/resources/symbols/Undo22.png -text
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
test/lib/biojava3-alignment-3.0.5.jar -text
test/lib/biojava3-core-3.0.5.jar -text
test/lib/junit-4.9b1.jar -text
test/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
test/src/GPL.txt -text svneol=unset#text/plain
test/src/NOTICE.txt -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/document/SuperalingedModelIndexTranslatorTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/document/io/results/FastaReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/document/superalignment/AverageDegapedPositionAlignerTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/alignment/Hirschberg.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/alignment/NeedlemanWunsch.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/alignment/NeedlemanWunschTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/runtime/Exec.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/test/CreateSequencesTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/test/NJForesterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/test/StringBuilderTest.java -text svneol=unset#text/plain
