* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/MANIFEST.MF -text svneol=unset#text/plain
main/include/lib/BIWBioJava.jar -text
main/include/lib/BrowserLauncher2-1_3.jar -text
main/include/lib/biojava3-alignment-3.0.5.jar -text
main/include/lib/biojava3-core-3.0.5.jar -text
main/include/lib/commons-lang3-3.1.jar -text
main/include/lib/guava-13.0.1.jar -text
main/include/lib/info.bioinfweb.util.jar -text
main/include/lib/info.webinsel.util.appver.jar -text
main/include/lib/info.webinsel.util.collections.jar -text
main/include/lib/info.webinsel.util.graphics.jar -text
main/include/lib/info.webinsel.util.io.jar -text
main/include/lib/info.webinsel.util.jar -text
main/include/lib/info.webinsel.util.swing.jar -text
main/include/lib/info.webinsel.wikihelp.client.jar -text
main/include/lib/org.jdesktop.swingx.scrollpaneselector.jar -text
main/src/cmd/muscle3.8.31_i86darwin32 -text
main/src/cmd/muscle3.8.31_i86darwin64 -text
main/src/cmd/muscle3.8.31_i86linux32 -text
main/src/cmd/muscle3.8.31_i86linux64 -text
main/src/cmd/muscle3.8.31_i86win32.exe -text
main/src/info/bioinfweb/alignmentcomparator/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/Document.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/SuperAlignmentCompoundSet.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/SuperAlignmentSequenceView.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comments/Comment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comments/CommentList.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comments/CommentPosition.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comments/CommentPositionComparator.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/comments/SequencePositionAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/event/DocumentEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/event/DocumentListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/results/ResultsFileFilter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/results/ResultsReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/results/ResultsWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/io/results/ResultsXMLConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/BioInfWebConsensusPairwiseAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/BioJavaConsensusPairwiseAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/CompareAlgorithm.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/ConsensusPairwiseAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/ExternalProgramAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/MuscleProfileAligner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/SuperAlignmentAlgorithm.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/data/CharSequenceSuperAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/data/ProfileSuperAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/superalignment/data/SuperAlignment.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/AddCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/AddRemoveCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/ChangeCommentTextEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/CommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/DocumentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/InsertGapEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/InsertRemoveGapEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/MoveCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/RemoveCommentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/document/undo/RemoveGapEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonHeaderPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonInputListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonPanelListener.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentComparisonPanelSelection.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/AlignmentPositionPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/MainFrame.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/SequenceNamesPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/ActionManagement.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/DocumentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/AddCommentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/ChangeCommentTextAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/InsertGapAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/InsertGapFirstAlignmentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/InsertGapSecondAlignmentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/InsertRemoveGapAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/MoveCommentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RedoAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RedoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RemoveCommentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RemoveGapAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RemoveGapFirstAlignmentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/RemoveGapSecondAlignmentAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/UndoAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/UndoRedoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/edit/UndoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/CompareAlignmentsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/ExitAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/OpenResultsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/SaveAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/actions/file/SaveAsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comments/CommentPositioner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comments/CommentPositionerFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comments/SingleLineCommentPositionData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comments/SingleLineCommentPositioner.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comments/SingleLineGlobalCommentPositionerData.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/comments/SingleLinePositionAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/StartComparisonDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/AlgorithmPreferencesPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/AlgorithmPreferencesPanelFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/ConsensusBIWNeedlemanWunschPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/ConsensusNeedlemanWunschPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/ConsoleOutputDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/alignmentcomparator/gui/dialogs/algorithmpanels/MuscleProfilePanel.java -text svneol=unset#text/plain
main/src/resources/symbols/Delete16.png -text
main/src/resources/symbols/Delete22.png -text
main/src/resources/symbols/NewComment16.png -text
main/src/resources/symbols/NewComment22.png -text
main/src/resources/symbols/Open16.png -text
main/src/resources/symbols/Open22.png -text
main/src/resources/symbols/Redo16.png -text
main/src/resources/symbols/Redo22.png -text
main/src/resources/symbols/Save16.png -text
main/src/resources/symbols/Save22.png -text
main/src/resources/symbols/SaveAs16.png -text
main/src/resources/symbols/SaveAs22.png -text
main/src/resources/symbols/Undo16.png -text
main/src/resources/symbols/Undo22.png -text
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/lib/junit-4.9b1.jar -text
test/src/info/bioinfweb/alignmentcomparator/CreateSequencesTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/StringBuilderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/document/io/results/FastaReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/document/io/results/ResultsReaderWriterTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/alignment/Hirschberg.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/alignment/NeedlemanWunsch.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/alignment/NeedlemanWunschTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/alignmentcomparator/externaltests/runtime/Exec.java -text svneol=unset#text/plain
